package email_change_notification

import "github.com/groobb/groobb/go/internal/templates/emails/layouts"

// EnHTMLは英語のHTML本文を描画し、共有メールレイアウト (ドキュメントの外枠と
// Groobbフッターを供給する) で内容を包みます。
templ EnHTML(data Data) {
	@layouts.Default("en", "Email address changed") {
		<p>The email address for your account has been changed to { data.NewEmail }.</p>
		<p>If you did not make this change, please contact us.</p>
	}
}
