package email_change_notification

import (
	"fmt"

	"github.com/a-h/templ"
)

// EnTextは英語のプレーンテキスト本文を描画します。JaTextと同様、整形済み
// 文字列からtempl.Rawで組み立て、改行をそのまま保ちます。
templ EnText(data Data) {
	@templ.Raw(fmt.Sprintf(
		"The email address for your account has been changed to %s.\n\n"+
			"If you did not make this change, please contact us.\n\n"+
			"Groobb\n",
		data.NewEmail,
	))
}
