/.env
/.playwright-cli
/.playwright-mcp
/.pnpm-store
/bin
/data/*
!/data/.gitkeep
/e2e/node_modules
/groobb
/groobb.toml
/node_modules
/seed-users.toml
/static/css/*
!/static/css/.gitkeep
/static/js/*
!/static/js/.gitkeep
!/static/js/vendor/
/tmp
/web/dist
